@use "settings" as s;

// text-success, text-info ,etc
@each $name, $color in s.$theme-colors {
    .text-#{$name} {
        color: $color;
    }
}

// ml-2 mr-2, pr-3, pl-3 etc
@each $name, $multiplier in s.$multipliers {
    .ml-#{$name} {
        margin-left: #{s.$spacer * $multiplier}rem;
    }
    .mr-#{$name} {
        margin-right: #{s.$spacer * $multiplier}rem;
    }
    .mt-#{$name} {
        margin-top: #{s.$spacer * $multiplier}rem;
    }
    .mb-#{$name} {
        margin-bottom: #{s.$spacer * $multiplier}rem;
    }
    .pl-#{$name} {
        padding-left: #{s.$spacer * $multiplier}rem;
    }
    .pr-#{$name} {
        padding-right: #{s.$spacer * $multiplier}rem;
    }
    .pt-#{$name} {
        padding-top: #{s.$spacer * $multiplier}rem;
    }
    .pb-#{$name} {
        padding-bottom: #{s.$spacer * $multiplier}rem;
    }
}

.width-100 {
    width: 100%;
}

.text-center{
    text-align: center;
}
