// root colors
$cyan: #5bc0de;
$orange: #f0ad4e;
$red: #e45826;
$green: #5aa897;
$white: #fff;
$black: #000;

$gray-1: #f4f5f7;
$gray-2: #ebecf0;
$gray-dark: #383e4b;

$success: $green;
$info: $cyan;
$warning: $orange;
$danger: $red;
$muted: #9da0a8;
$text-muted: $muted;

$font-size-base: 0.875rem;

$border-radius: 0.25rem;

$spacer: 1 !default;
